@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,600;0,900;1,100;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Baron';
	src: url('/fonts/BaronNeue-Black.otf');
}

@font-face {
	font-family: 'BaronLight';
	src: url('/fonts/BaronNeue-Regular.otf');
}

:root {
	font-family: 'Roboto', sans-serif;
}

.baron {
	font-family: 'Baron', sans-serif;
}

.baron-light {
	font-family: 'BaronLight', sans-serif;
}

.dark hr {
	border: unset;
	background-color: white;
	height: 2px;
}

hr {
	border: unset;
	background-color: black;
	height: 2px;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.a {
	color: #2563EB;
}

.a:hover {
	text-decoration: underline;
}